{% extends 'posts/base.html' %}
{% block content %}
  <h1>Create a new space</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-group">
      <label for="id_name">Name:</label>
      {{ form.name }}
    </div>

    <div class="form-group">
      <label for="id_description">Description:</label>
      {{ form.description }}
    </div>

    <div class="form-group">
      <label for="id_members">Members:</label>
      {{ form.members }}
    </div>

    <div class="form-group">
      <label for="id_moderators">Moderators:</label>
      {{ form.moderators }}
    </div>

    <div class="form-group">
      <label for="id_is_all_members_post_allowed">Allow all members to post:</label>
      {{ form.is_all_members_post_allowed }}
    </div>

    <div class="form-group">
      <label for="id_is_only_moderators_post_allowed">Allow only moderators to post:</label>
      {{ form.is_only_moderators_post_allowed }}
    </div>

    <button type="submit" class="btn btn-primary">Create space</button>
  </form>
{% endblock %}

