{% extends "base.html" %}

{% block content %}
  <div style="width: 500px; margin: 0 auto;">
    <h1 style="font-size: 24px; margin-bottom: 20px;">Create a New Space</h1>

    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}

      <div style="margin-bottom: 20px;">
        <label for="id_name" style="display: block; font-size: 16px; margin-bottom: 10px;">Name:</label>
        {{ form.name }}
      </div>

      <div style="margin-bottom: 20px;">
        <label for="id_description" style="display: block; font-size: 16px; margin-bottom: 10px;">Description:</label>
        {{ form.description }}
      </div>

      <div style="margin-bottom: 20px;">
        <label for="id_posting_permission" style="display: block; font-size: 16px; margin-bottom: 10px;">Posting Permission:</label>
        {{ form.posting_permission }}
      </div>

      <div style="text-align: center;">
        <button type="submit" style="width: 150px; height: 40px; font-size: 16px; margin-top: 20px;background-color: rgba(245, 194, 68, 1);">Create Space</button>
      </div>
    </form>
  </div>
{% endblock %}