{% extends 'base.html' %}

{% block content %}
  <h1>{{ space.name }}</h1>
  <p>{{ space.description }}</p>
  {% if not request.user == space.owner and not request.user in space.members.all and not request.user in space.granted_members.all and not request.user in space.moderators.all %}
    <form method="POST" action="{% url 'join_space' pk=space.pk %}">
      {% csrf_token %}
      <button type="submit" class="btn btn-primary">Join Space</button>
    </form>
  {% elif request.user in space.members.all or request.user in space.granted_members.all %}
    <form method="POST" action="{% url 'leave_space' pk=space.pk %}">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Leave Space</button>
    </form>
  {% endif %}
      {% if request.user == space.owner %}
    <form method="POST" action="{% url 'delete_space' pk=space.pk %}">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Delete Space</button>
    </form>
  {% endif %}
{% if can_post %}
    <hr>
    <a href="{% url 'post_new' %}?space_pk={{ space.pk }}" class="btn btn-primary">Share Post</a>
    <hr>
{% endif %}

  <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-3">
    {% if space.posts.all %}
      {% for post in space.posts.all %}
        <div class="col">
          <div class="card">
            {% if post.image %}
              <img src="{{ post.image.url }}" class="card-img-top" alt="Post image">
            {% endif %}
            <div class="card-body">
              <h2 class="card-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
              <p class="card-text">{{ post.text }}</p>
            </div>
            <div class="card-footer">
              <p class="card-text">Published by {{ post.author }} on {{ post.published_date }}</p>

            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <p>No posts found.</p>
    {% endif %}
  </div>
{% endblock %}
