.sidenav li {
    padding-left: 10px;
  }
  
  .nav {
    padding-left: 0;
  }
  
  .nav li {
    padding-left: 10px;
  }

  .nav-item a {
    display: flex;
    align-items: center;
    padding: 8px 15px;
    color: #333;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }
  
  .nav-item a:hover {
    background-color: #f00;
    color: #fff;
  }
  
  .nav-item a .icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }