{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}Friends{% endblock %}
{% block content %}
    <h1>Friends</h1>
    <div id="friend-list" style="display: flex;">
        {% for friend in friends %}
            <div class="friend" style="padding: 13px">
                <a href="{{ friend.get_absolute_url }}">
                    <img src="{% thumbnail friend.photo 180x180 %}">
                </a>
                <div class="info">
                    <a href="{{ friend.get_absolute_url }}" class="title">
                        {{ friend.username }}
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>

    <h2>Friend Recommendations</h2>
    <div id="friend-recommendations" style="display: flex;">
        {% for recommendation in friend_recommendations %}
            <div class="recommendation" style="padding: 13px">
                <a href="{{ recommendation.get_absolute_url }}">
                    <img src="{% thumbnail recommendation.photo 180x180 %}">
                </a>
                <div class="info">
                    <a href="{{ recommendation.get_absolute_url }}" class="title">
                        {{ recommendation.username }}
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
