{% extends 'base.html' %}

{% block content %}
    <div class="row row-cols-1 row-cols-sm-1 row-cols-mr-6 g-3">
        {% if post.tags %}
            <h2>Posts tagged with "{{ post.tags }}"</h2>
        {% endif %}
        {% for post in posts %}
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <a href="{% url 'post_detail' post.id %}" class="text-decoration-none">
                            <h3 class="text-overflow" title="{{ post.title }}">{{ post.title }}</h3>
                        </a>

                        <!-- Add annotation feature here -->
                        <div class="annotation-form">
                            <form method="POST" action="{% url 'add_annotation_to_post' pk=post.id %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="annotation-text">Add Annotation:</label>
                                    <input type="text" name="annotation_text" class="form-control" id="annotation-text" required>
                                </div>
                                <button class="btn btn-outline-secondary" type="submit">Submit</button>
                            </form>
                        </div>
                        <!--  End of annotation feature -->

                        {% if post.image %}
                            <img src="{{ post.image.url }}" alt="{{ post.title }}" width="160" height="160">
                        {% endif %}
                        <small class="text-muted"> {{ post.text }}</small>

                        {% if post.tag %}
                            <p class="tags">
                                Tags:
                                {% for tag in post.tags.all %}
                                    <a href="{% url 'post_list_by_tag' tag.slug %}" class="badge bg-danger">
                                        {{ tag.name }}
                                    </a>
                                    {% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </p>
                        {% endif %}

                        <div class="d-flex">
                            <form method="POST" action="{% url 'add_comment_to_post' pk=post.id%}">
                                {% csrf_token %}
                                <button class="btn btn-outline-success me-2" type="submit">Comment{% if post.total_comments %}({{ post.total_comments }}){% endif %}</button>
                            </form>

                            <form method="POST" action="{% url 'bookmark' pk=post.id %}">
                                {% csrf_token %}
                                {% if post in user.bookmarks.all %}
                                  <button id="bookmarkButton" class="btn btn-primary" type="submit">Unbookmark</button>
                                {% else %}
                                  <button id="bookmarkButton" class="btn btn-outline-primary" type="submit">Bookmark</button>
                                {% endif %}
                            </form>

                            <form method="POST" action="{% url 'post_share' pk=post.id %}">
                                {% csrf_token %}
                                <button class="btn btn-outline-dark me-2" type="submit">Share</button>
                            </form>

                            <form method="POST" action="{% url "like_post" post.id %}">
                                {% csrf_token %}
                                {% if user in post.likes.all %}
                                  <button id="likeButton" class="btn btn-outline-primary" type="submit">Unlike ({{post.likes.count}})</button>
                                {% else %}
                                  <button id="likeButton" class="btn btn-primary" type="submit">Like ({{post.likes.count}})</button>
                                {% endif %}
                              </form>

                            {% if post.link %}
                            <a href="{{ post.link }}" target="_blank" class="btn btn-outline-primary">
                                Goto> </a>
                            {% endif %}
                        </div>

                        <div class="d-flex w-100 justify-content-between">
                            <small class="text-muted">Published: {{ post.published_date }}</small>
                            <a href="/users/{{ post.author }}" class="text-muted small"> User: {{ post.author }}</a>
                        </div>
                    </div>

                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function () {
            $('.like-button').click(function (e) {
                e.preventDefault();

                var post_id = $(this).data('id');
                var $this = $(this);

                $.ajax({
                    url: '/like/' + post_id,
                    method: 'GET',
                    success: function (data) {
                        $this.html('Like (' + data.likes_count + ')');
                    }
                });
            });
        });
    </script>
{% endblock %}

