{% extends 'base.html' %}
{% block content %}
  <h1>My Spaces</h1>
  {% if spaces %}
    <ul>
      {% for space in spaces %}
        <li><a href="{% url 'space_detail' pk=space.pk %}">{{ space.name }}</a></li>
      {% endfor %}
    </ul>
    {% if recommended_spaces %}
      <h2>Recommended Spaces:</h2>
      <ul>
        {% for space in recommended_spaces %}
          <li><a href="{% url 'space_detail' pk=space.pk %}">{{ space.name }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
  {% else %}
    <p>You don't have any spaces yet.</p>
  {% endif %}
{% endblock %}
